doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
      function testFunc(){
      console.log('welcome')     } 
  body
    block content
